<style>
    .myFooter {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        color: whitesmoke;
        font-weight: bold;
        text-align: center;
        background-color: #444444;
        height: 85px;
    }
    .darkmode--activated .myFooter {
        background-color: #444444;
    }
    .github:after {
        display: inline-block;
        content : '';
        background-image: url("/images/mark-github.svg");
        background-size: 28px 28px;
        height: 28px;
        width: 28px;
    }
    .facebook::after {
        display: inline-block;
        content : '';
        background-image: url("/images/facebook-icon.png");
        background-size: 28px 28px;
        height: 28px;
        width: 28px;
    }
</style>
<footer class="myFooter">    
      <span>作者 : ChinlinLee (李沁霖)</span>
      <br />
      <span>聯絡資訊 : NTUNHSmycosim@outlook.com</span>
      <br />
      <a class="github" href="https://github.com/Chinlinlee/NTUNHS-Assistant"></a>
      <a class="facebook" href="https://www.facebook.com/%E5%8C%97%E8%AD%B7%E5%8A%A9%E6%89%8B-536605093953053"></a>
</footer>