<li class="nav-item active">
    <a class="nav-link" href="/announcement">北護公告</a>
</li>
<li class="nav-item active">
    <div class="dropdown show">
        <a class="nav-link dropdown-toggle active" href="#" data-toggle="dropdown" id="dropdownLearnInfo" aria-haspopup="true" aria-expanded="false" ng-if="Currentuser">學習資訊</a>
        <div class="dropdown-menu" aria-labelledby="dropdownLearnInfo">
            <a class="dropdown-item" href="/Course">個人修課明細</a>
            <a class="dropdown-item" href="/Schedule">個人課表</a>
            <a class="dropdown-item" href="/Scores">學期成績</a>
            <a class="dropdown-item" href="/History_Scores">歷年成績</a>
            <a class="dropdown-item" href="/CTE_BOT">教學評量機器人</a>
        </div>
    </div>
</li>
<li class="nav-item active" ng-if="Currentuser">
    <a class="nav-link" href="/learnMap">學習歷程</a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="/Course_Search">課程查詢</a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="/privacy-policy">免責聲明</a>
</li>