<!DOCTYPE html>
<html ng-app="CourseApp">

<head>
    <title>個人修課資訊</title>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="no-cache" http-equiv="cache-control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../externals/jqueryui/jquery-ui.min.css">
    <link rel="stylesheet" href="../externals/Bootstrap/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
        rel="stylesheet">
    <link rel="stylesheet" href="/atm/css/rwd-table.css">
    <link rel="stylesheet" href="../externals/jqueryui/jquery-ui.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+TC:300,500,600,700,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/atm/css/main.css">
    <link rel="stylesheet" href="/atm/css/dark.css">
</head>

<body ng-controller="CourseCtrl">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/Today_Schedule">今日課表</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <nav-normal-item class="navbar-nav"></nav-normal-item>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <span><span style="font-size:25px">🌞 </span><input type="checkbox" data-toggle="toggle"
                            data-onstyle="info" data-offstyle="light" id="darkModeSwitch"><span style="font-size:25px">
                            🌛</span></span>
                </li>
                <div ng-include="'navRight.html'"></div>
            </ul>
        </div>
    </nav>
    <div class="container" style="width:100%">
        <div class="form-group row">
            <label class="col-2 mt-1" for="select-sem">學期：</label>
            <select class="col-10 custom-select" name="select-sem" id="select-sem" ng-model="selectedSem"
                ng-options="c for c in Currentuser.allSemno">
            </select>
        </div>
        <div dw-loading="DataList" dw-loading-options="{text: '載入清單...'}">
            <table id="setting" class="table table-bordered table-striped table-rwd">
                <thead class="thead-dark">
                    <tr>
                        <th>課程名稱</th>
                        <th>教室</th>
                        <th>星期</th>
                        <th>節次</th>
                        <th>學分</th>
                        <th>課程性質</th>
                        <th>任課教師</th>
                    </tr>
                </thead>
                <tbody>
                    <tr name="DataList" ng-repeat="Item in DataList">
                        <td class="table-th" data-th="課程名稱" id="{{Item.Name}}"
                            onclick='Item_Visible_Control(this.id+"_content" , this.id , true)'>{{Item.Name}}</td>
                        <td data-th="教室" id="{{Item.Name}}_content">
                            {{Item.Place}}
                            <span ng-show="!Item.Place">
                                無教室
                            </span>
                        </td>
                        <td data-th="星期" id="{{Item.Name}}_content">{{Item.Day}}</td>
                        <td data-th="節次" id="{{Item.Name}}_content">{{Item.Period}}</td>
                        <td data-th="學分" id="{{Item.Name}}_content">{{Item.Credit}}</td>
                        <td data-th="課程性質" id="{{Item.Name}}_content">{{Item.Type}}</td>
                        <td data-th="任課教師" id="{{Item.Name}}_content">{{Item.Teacher}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>
<script src="../externals/angularjs/angular.min.js"></script>
<script src="../externals/jquery/jquery-1.11.1.min.js"></script>
<script src="../externals/jqueryui/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
<script src="..//externals/jqueryui/datepicker-zh-TW.js"></script>
<script src="/atm/scripts/rwd-td.js"></script>
<script src="/atm/scripts/Common.js"></script>
<script src="/atm/scripts/ngCommon.js"></script>
<script src="/atm/scripts/Course.js"></script>

<script src="../externals/Bootstrap/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.6/lib/darkmode-js.min.js"></script>

<script>
    window.onload = async function () {
        window.originH = $(window).height();
        window.originW = $(window).width();
        commonFunc.myDarkModeInit();
    };
    window.onresize = async function () {
        var width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
        let height = $(window).height();
        if (width == window.originW && height == window.originH) {
            return;
        }
        if (width <= 736) {
            $("#setting").addClass("table-rwd");
            TdDisplay('content');
            $(".table-th").each(function () {
                let id = $(this).attr('id');
                Item_Visible_Control(id + "_content", id, true);
            });
        } else {
            $("#setting").removeClass("table-rwd");
            TdDisplayNoneRWD('content');
        }
    }
</script>