<!DOCTYPE html>
<html ng-app="CSApp">

<head>
    <title>國北護-網路課程-課程查詢系統</title>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="no-cache" http-equiv="cache-control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+TC:300,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/atm/css/rwd-table.css" />
    <link rel="stylesheet" href="/atm/css/main.css">
    <link rel="stylesheet" href="/atm/css/Course_Search.css">
    <link rel="stylesheet" href="/atm/css/dark.css">
    <link rel="stylesheet" href="../externals/Bootstrap/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
        rel="stylesheet">
    <style>
        fieldset {
            border-radius: 8px;
            border: 1px solid;
            box-shadow: 3px 3px 10px #666;
            margin-bottom: 10px;
        }

        legend {
            border-radius: 3px;
            padding: 5px 10px;
            background-color: #393e43;
            color: #FFF;
            box-shadow: 2px 2px 4px #666;
        }
    </style>
</head>

<body ng-controller="CSCtrl" ng-init="init();">

    <a class="condition-button show" data-toggle="modal" data-target="#ModalCenter_Condition"
        ng-click="testInclude=true;"></a>
    <div class="alert alert-info downloading-button" role="alert">
        <b>匯出中</b>
    </div>
    <!--#region top navbar-->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/Today_Schedule">今日課表</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <nav-normal-item class="navbar-nav"></nav-normal-item>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <span><span style="font-size:25px">🌞 </span><input type="checkbox" data-toggle="toggle"
                            data-onstyle="info" data-offstyle="light" id="darkModeSwitch"><span style="font-size:25px">
                            🌛</span></span>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#" data-toggle="modal" data-target="#ModalCenter_Login"
                        ng-show="!Currentuser">登入</a>
                </li>
                <div ng-include="'navRight.html'"></div>
            </ul>
        </div>
    </nav>
    <!--#endregion-->
    <div class="container-fluid">
        <!--#region 查詢條件-->
        <div id="originPageCondition" ng-include="'atm/Course_Search_Condition.html'"></div>
        <!--#region 查詢筆數&匯出-->
        <div class="row Gap-row">
            <div class="col-md-12">
                <div class="dropdown">
                    <span>查詢結果資料筆數: {{DataListSize}}</span>
                    <button class="btn btn-secondary dropdown-toggle float-right" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-if="DataListSize>0">
                        <i class="fa fa-file-excel-o" aria-hidden="true"> 匯出查詢結果報表</i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#" ng-click="exportpdf(false);">匯出PDF</a>
                        <a class="dropdown-item" href="#" ng-click="exportwordBackend();">匯出Word</a>
                        <a class="dropdown-item" href="#" ng-click="exportexcelBackend();">匯出Excel</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- #endregion-->
        <!--#endregion -->
        <!--#region 查詢結果-->
        <!-- #endregion-->
        <!--#region 分頁為第幾筆~第幾筆-->
        <div class="row">
            <div class="col-sm-12" ng-show="DataListSize">
                <span>顯示資料 第{{(numPerPage*(curPage-1))+1 }}筆~第{{numPerPage*curPage}}筆</span>
                <ul uib-pagination total-items="DataListSize" ng-model="curPage" boundary-link-numbers="false"
                    rotate="false" max-size="0" boundary-links="true" class="pagination-sm"></ul>
            </div>
        </div>
        <!--#endregion-->
        <!--#region 預排課表表格-->

        <!--#endregion-->
        <!--#region 模擬課表-->
        <div class="row" id="Row_PreSchedule">
            <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                <div class="preSchedule-list" id="new_PreSchedule">
                    <div class="alert preSchedule-list-item" role="alert"
                        ng-repeat="Item in DataList | filter : paginate " ng-click="openResultDetailModal(Item)"
                        data-target="#ResultModalCenter_New" data-toggle="modal"
                        ng-class="ResultConflictDanger(Item.Course_Id)">
                        <p>
                            <b>{{Item.Course_Name}}</b>
                            <span class="badge badge-light">{{Item.Course_Type}}</span>
                        </p>
                        <span>
                            {{Item.Faculty_Name}}
                        </span>
                        <br />
                        <span>
                            {{Item.Credits}}學分
                            <span
                                ng-show="Item.Teacher">・{{Item.Teacher}}</span>・{{Item.Period}}節・星期{{Ch_days[Item.Course_Day-1]}}</span>
                        </span>
                        <br />
                        <span></span>
                        <a class="btn-addCourse" id="PreBtn_{{Item.Course_Id}}"
                            ng-click="PreSchedule_Add(Item , 'PreBtn_' + Item.Course_Id)"
                            ng-disabled="PreBtn_{{Item.Course_Id}}" ng-show="!PreBtn_{{Item.Course_Id}}">
                        </a>
                    </div>
                </div>
                <div class="preSchedule-list" id="new_PreSchedule_Added">
                    <div class="alert alert-selectedCourse preSchedule-list-item" role="alert"
                        ng-repeat="Item in PreScheduleList" ng-click="openResultDetailModal(Item)"
                        data-target="#ResultModalCenter_New" data-toggle="modal">
                        <p>
                            <b>{{Item.Course_Name}}</b>
                            <span class="badge badge-light">{{Item.Course_Type}}</span>
                        </p>
                        <span>
                            {{Item.Faculty_Name}}
                        </span>
                        <br />
                        <span>
                            {{Item.Credits}}學分
                            <span
                                ng-show="Item.Teacher">・{{Item.Teacher}}</span>・{{Item.startPeriod}}~{{Item.endPeriod}}節・星期{{Ch_days[Item.Course_Day-1]}}</span>
                        </span>
                        <a class="btn-deleteCourse" ng-click="PreSchedule_Remove(Item);">
                        </a>
                    </div>
                </div>
                <button class="btn btn-secondary dropdown-toggle float-right" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-if="PreScheduleList.length">
                    <i class="fa fa-file-excel-o" aria-hidden="true"> 匯出報表</i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#" ng-click="exportpdf(true);">匯出清單PDF</a>
                    <a class="dropdown-item" href="#" ng-click="exportwordBackend();">匯出清單Word</a>
                    <a class="dropdown-item" href="#" ng-click="exportexcelBackend();">匯出清單Excel</a>
                    <a class="dropdown-item" href="#" id="a_Export_IMG" ng-click="exportPicture();">
                        <i class="fa fa-download" class="text-center"></i>匯出表格圖片
                    </a>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                <table id="PreSchedule" class="table table-striped table-bordered table-sm table-responsive w-100">
                    <thead class="thead-dark">
                        <tr>
                            <th colspan="8" class="text-center">模擬表格</th>
                            <th><a href="#" style="color:white" id="a_Export_IMG" ng-click="exportPicture();"><i
                                        class="fa fa-download" class="text-center"></i>匯出表格圖片</a>
                        </tr>
                        <tr>
                            <th style="width: 1%;">節次</th>
                            <th style="width: 5%;">時間</th>
                            <th style="width: 13%;">星期一</th>
                            <th style="width: 13%;">星期二</th>
                            <th style="width: 13%;">星期三</th>
                            <th style="width: 13%;">星期四</th>
                            <th style="width: 13%;">星期五</th>
                            <th style="width: 13%;">星期六</th>
                            <th style="width: 16%;">星期日</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="Item in PreScheduleTable" class="text-center">
                            <td data-th="節次" class="align-middle">{{Item.Period}}</td>
                            <td data-th="時間" class="align-middle">{{Item.Time}}</td>
                            <td data-th="星期一" id="Mon{{Item.Period}}" class="align-middle td-item-fill"><span
                                    class="float-right mr-2" ng-if='Item.Mon!=""'><span class="text-danger pointer"
                                        ng-click="PreScheduleTable_Remove(Item.Mon , Item.Period,1);">×</span></span>
                                <P ng-show="Item.Mon">{{Item.Mon}}</P>
                                <button class="btn btn-preSchedule td-btn-center" ng-show="!Item.Mon"
                                    ng-click="PreScheduleAddCondition(Item ,0);"></button>
                            </td>
                            <td data-th="星期二" id="Tue{{Item.Period}}" class="align-middle td-item-fill"><span
                                    class="float-right mr-2" ng-if='Item.Tue!=""'><span class="text-danger pointer"
                                        ng-click="PreScheduleTable_Remove(Item.Tue , Item.Period,2);">×</span></span>
                                <P ng-show="Item.Tue">{{Item.Tue}}</P>
                                <button class="btn btn-preSchedule td-btn-center"
                                    ng-show="!Item.TueisClickedSearch && !Item.Tue"
                                    ng-click="PreScheduleAddCondition(Item ,1);"></button>
                            </td>
                            <td data-th="星期三" id="Wed{{Item.Period}}" class="align-middle td-item-fill"><span
                                    class="float-right mr-2" ng-if='Item.Wed!=""'><span class="text-danger pointer"
                                        ng-click="PreScheduleTable_Remove(Item.Wed , Item.Period,3);">×</span></span>
                                <P ng-show="Item.Wed">{{Item.Wed}}</P>
                                <button class="btn btn-preSchedule td-btn-center"
                                    ng-show="!Item.WedisClickedSearch && !Item.Wed"
                                    ng-click="PreScheduleAddCondition(Item ,2);"></button>
                            </td>
                            <td data-th="星期四" id="Thu{{Item.Period}}" class="align-middle td-item-fill"><span
                                    class="float-right mr-2" ng-if='Item.Thu!=""'><span class="text-danger pointer"
                                        ng-click="PreScheduleTable_Remove(Item.Thu , Item.Period,4);">×</span></span>
                                <P ng-show="Item.Thu">{{Item.Thu}}</P>
                                <button class="btn btn-preSchedule td-btn-center"
                                    ng-show="!Item.ThuisClickedSearch && !Item.Thu"
                                    ng-click="PreScheduleAddCondition(Item ,3);"></button>
                            </td>
                            <td data-th="星期五" id="Fri{{Item.Period}}" class="align-middle td-item-fill"><span
                                    class="float-right mr-2" ng-if='Item.Fri!=""'><span class="text-danger pointer"
                                        ng-click="PreScheduleTable_Remove(Item.Fri , Item.Period,5);">×</span></span>
                                <P ng-show="Item.Fri">{{Item.Fri}}</P>
                                <button class="btn btn-preSchedule td-btn-center"
                                    ng-show="!Item.FriisClickedSearch && !Item.Fri"
                                    ng-click="PreScheduleAddCondition(Item ,4);"></button>
                            </td>
                            <td data-th="星期六" id="Sat{{Item.Period}}" class="align-middle td-item-fill"><span
                                    class="float-right mr-2" ng-if='Item.Sat!=""'><span class="text-danger pointer"
                                        ng-click="PreScheduleTable_Remove(Item.Sat , Item.Period,6);">×</span></span>
                                <P ng-show="Item.Sat">{{Item.Sat}}</P>
                                <button class="btn btn-preSchedule td-btn-center"
                                    ng-show="!Item.SatisClickedSearch && !Item.Sat"
                                    ng-click="PreScheduleAddCondition(Item ,5);"></button>
                            </td>
                            <td data-th="星期日" id="Sun{{Item.Period}}" class="align-middle td-item-fill"><span
                                    class="float-right mr-2" ng-if='Item.Sun!=""'><span class="text-danger pointer"
                                        ng-click="PreScheduleTable_Remove(Item.Sun , Item.Period,7);">×</span></span>
                                <P ng-show="Item.Sun">{{Item.Sun}}</P>
                                <button class="btn btn-preSchedule td-btn-center"
                                    ng-show="!Item.SunisClickedSearch && !Item.Sun"
                                    ng-click="PreScheduleAddCondition(Item ,6);"></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 col-12" id="table-mobile" ng-show="false">
                <div class="row" ng-repeat="(key , item) in ['星期一'  ,'星期二' , '星期三', '星期四', '星期五', '星期六', '星期日']"
                    id="fieldSet{{key+1}}">
                    <div class="col-md-12 col-12">
                        <fieldset class="p-2">
                            <legend class="w-auto" ng-click="legend();">{{item}}</legend>
                            <div class="row h-100 justify-content-center align-items-center">
                                <div class="col-sm-6 col-12 " ng-repeat="(scheduleKey , scheduleItem) in scheduleList"
                                    ng-if="scheduleItem.Day == key+1">
                                    <div class="card mb-3 mx-auto" style="max-width: 18rem;cursor: pointer;">
                                        <div class="card-body text-center" data-toggle="modal"
                                            data-target="#modal{{scheduleItem.Code}}">
                                            <p class="card-title">{{scheduleItem.Time}}</p>
                                            <p class="card-title">{{scheduleItem.Place}}</p>
                                            <h5 class="card-text">{{scheduleItem.Name}}</h5>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="modal{{scheduleItem.Code}}" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalCenterTitle">Other</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>教室：{{scheduleItem.Place}}</p>
                                                    <p>節次：{{scheduleItem.Period}}</p>
                                                    <p>學分：{{scheduleItem.Credit}}</p>
                                                    <p>課程性質：{{scheduleItem.Type}}</p>
                                                    <p>授課老師：{{scheduleItem.Teacher}}</p>
                                                    <p>代碼：{{scheduleItem.Code}}</p>
                                                    <p>備註：{{scheduleItem.Other}}</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
        <!--#endregion-->
    </div>
    <div ng-include="'loginModal.html'"></div>

    <div class="modal fade" id="ModalCenter_Condition" tabindex="-1" role="dialog" aria-labelledby="ModalConditionTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 800px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalConditionTitle">查詢條件</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="modalBodyCondition" ng-include="'atm/Course_Search_Condition.html'"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>
    <!--#regeion 查詢到的課程Modal-->
    <div class="modal fade" id="ResultModalCenter_New" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
        aria-hidden="true" style="z-index: 1000000;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="w-100 text-center modal-title" id="ModalLongTitle">{{OpenResultItem.Course_Name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <ul class="list-group">
                        <li class="list-group-item" ng-if="showCol('學期');">學期：{{OpenResultItem.Sem}}</li>
                        <li class="list-group-item" ng-if="showCol('系所名稱');">系所名稱：{{OpenResultItem.Faculty_Name}}</li>
                        <li class="list-group-item" ng-if="showCol('年級');">年級：{{OpenResultItem.Grad}}</li>
                        <li class="list-group-item" ng-if="showCol('課程代碼(14碼)');">課程代碼(14碼)：{{OpenResultItem.Course_Id}}</li>
                        <li class="list-group-item" ng-if="showCol('授課老師');">授課老師：{{OpenResultItem.Teacher}}</li>
                        <li class="list-group-item" ng-if="showCol('課別');">課別：{{OpenResultItem.Course_Type}}</li>
                        <li class="list-group-item" ng-if="showCol('學分');">學分：{{OpenResultItem.Credits}}</li>
                        <li class="list-group-item" ng-if="showCol('星期');">星期：{{Ch_days[OpenResultItem.Course_Day-1]}}</li>
                        <li class="list-group-item" ng-if="showCol('節次');">節次：{{OpenResultItem.Course_Time}}</li>
                        <li class="list-group-item" ng-if="showCol('上課人數/限制人數');">
                            上課人數/限制人數：{{OpenResultItem.Course_People}}/{{OpenResultItem.Limit_People}}</li>
                        <li class="list-group-item" ng-if="showCol('地點');">地點：{{OpenResultItem.Course_Place}}</li>

                        <li class="list-group-item" ng-if="showCol('教學計劃');">教學計劃：
                            <a href="{{OpenResultItem.Class_Plan}}" target="_blank"
                                ng-show="OpenResultItem.Class_Plan.includes('http');" rel="noopener noreferrer nofollow"
                                download>
                                <span><i class="fa fa-download"></i>點我下載</span>
                            </a>
                            <span ng-show="!OpenResultItem.Class_Plan.includes('http');">無教學計劃</span>
                        </li>
                        <li class="list-group-item" ng-if="showCol('備註');">備註：{{OpenResultItem.Course_Other}}</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- #endregion -->
    <!-- #region 預排課表表格點擊資料Modal-->
    <div class="modal fade" id="PreScheduleModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="w-100 text-center modal-title" id="ModalLongTitle">課程</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="search" class="form-control" ng-model="preModalQ" placeholder="請輸入關鍵字" />
                    <div class="preSchedule-list" id="PreScheduleTableQuery">
                        <div class="alert preSchedule-list-item" role="alert"
                            ng-repeat="Item in PreScheduleQueryDataList | filter : preModalQ"
                            ng-click="openResultDetailModal(Item)" data-target="#ResultModalCenter_New"
                            data-toggle="modal" ng-class="ResultConflictDanger(Item.Course_Id)">
                            <p>
                                <b>{{Item.Course_Name}}</b>
                                <span class="badge badge-light">{{Item.Course_Type}}</span>
                            </p>
                            <span>
                                {{Item.Faculty_Name}}
                            </span>
                            <br />
                            <span>
                                {{Item.Credits}}學分
                                <span
                                    ng-show="Item.Teacher">・{{Item.Teacher}}</span>・{{Item.startPeriod}}~{{Item.endPeriod}}節・星期{{Ch_days[Item.Course_Day-1]}}</span>
                            </span>
                            <br />
                            <span></span>
                            <a class="btn-addCourse" id="PreBtn_{{Item.Course_Id}}"
                                ng-click="PreSchedule_Add(Item , 'PreBtn_' + Item.Course_Id)"
                                ng-disabled="PreBtn_{{Item.Course_Id}}" ng-show="!PreBtn_{{Item.Course_Id}}">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- #endregion -->
</div>

</body>

</html>
<script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
    integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous">
</script>
<script src="../externals/jquery/jquery-1.11.1.min.js"></script>
<script src="../externals/angularjs/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
<script src="/atm/scripts/rwd-td.js"></script>
<script src="/atm/scripts/Common.js"></script>
<script src="/atm/scripts/ngCommon.js"></script>
<script src="/atm/scripts/Course_Search.js"></script>

<script src="../externals/Bootstrap/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
<script src="../externals/angularjs/ui-bootstrap-tpls-3.0.6.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.6/lib/darkmode-js.min.js"></script>


<script>
    $(document).ready(() => {
        ///commonFunc.darkModeInit();
        let darkMode = localStorage.getItem("darkMode");
        commonFunc.myDarkModeInit();
        window.NTUNHS = {};
        window.NTUNHS.last_focused = "";
        //BLUR沒在搜尋匡時AutoComplete關閉

        //點擊旁邊隱藏下拉式選單
        $(document).on("click", function () {
            var focused = $(':focus');
            var flength = focused.length;
            let isModal = false;
            console.log(flength);
            if (flength == 1) {
                let focuseElemnet = focused.eq(0).attr('class');
                console.log(focuseElemnet);
                if (focuseElemnet.includes('modal')) {
                    isModal = true;
                    console.log(isModal)
                }
            }
            if (flength < 1) {
                window.NTUNHS.last_focused = "";
                $(".checkboxes").hide();
            } else if (flength >= 1 && focused[0].className == "selectBox") {
                console.log("y");
                if (window.NTUNHS.last_focused !== "") {
                    if (window.NTUNHS.last_focused == focused[0].tabIndex) {
                        $(".checkboxes").hide();
                        window.NTUNHS.last_focused = "";
                    } else {
                        $(".checkboxes").hide();
                        $("#checkboxes_" + (focused[0].tabIndex + 1)).show();
                        window.NTUNHS.last_focused = focused[0].tabIndex;
                    }
                } else {
                    $(".checkboxes").hide();
                    $("#checkboxes_" + (focused[0].tabIndex + 1)).show();
                    window.NTUNHS.last_focused = focused[0].tabIndex;
                }
            } else if (flength >= 1 && isModal) {
                window.NTUNHS.last_focused = "";
                $(".checkboxes").hide();
            }
        });
        var btn = $('.top-button');
        btn.on('click', function (e) {
            e.preventDefault();
            $('html, body').animate({
                scrollTop: 0
            }, '300');
        });

    });

    async function sleep(ms = 0) {
        return new Promise(r => setTimeout(r, ms));
    }
    $(window).scroll(function () {
        if ($(window).scrollTop() > 100) {
            $('.top-button').addClass('show');
        } else {
            $('.top-button').removeClass('show');
        }
    });
</script>