<!DOCTYPE html>
<html ng-app="CTE_BOTApp">

<head>
    <title>教學評量機器人</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="UTF-8" >
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="no-cache" http-equiv="cache-control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta name="viewport" content="width=device-width, initial-scale=1 ,maximum-scale=1,user-scalable=no" />
    <link href="/atm/css/theme/angular-loading.css" rel="stylesheet">
    <link rel="stylesheet" href="../externals/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../externals/jqueryui/jquery-ui.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+TC:300,500,600,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/atm/css/main.css">
    <link rel="stylesheet" href="/atm/css/rwd-table.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" crossorigin="anonymous">
    <script>
        function blockui()
		{
			$.blockUI({
				message: "<i class='fa fa-spinner fa-pulse orange' style='font-size:600%'></i>", 
				//borderWidth:'0px' 和透明背景
				css: { borderWidth: '0px', backgroundColor: 'transparent' },
			});
			return true;
		}
    </script>
    <style>
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60px; /* Set the fixed height of the footer here */
            line-height: 60px; /* Vertically center the text there */
            background-color: #f5f5f5;
        }
        .container {
            min-height: calc(100vh - 60px - 85px);
        }
    </style>
</head>

<body ng-controller="CTE_BOTCtrl">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/Today_Schedule">今日課表</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"   id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <nav-normal-item class="navbar-nav"></nav-normal-item>
            </ul>
            <ul class="navbar-nav ml-auto">
                <div ng-include="'navRight.html'"></div>
            </ul>
        </div>
    </nav>
    <div class="container">
        <p class="text-center">很遺憾地，此功能因為一些因素而移除。</p>
    </div>
    <div ng-include="'footer.html'"></div>
</body>

</html>
<script src="../externals/angularjs/angular.min.js"></script>
<script src="../externals/jquery/jquery-1.11.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
<script src="../externals/Bootstrap/bootstrap.min.js"></script>
<script src="/atm/scripts/rwd-td.js"></script>
<script src="/atm/scripts/Common.js"></script>
<script src="/atm/scripts/ngCommon.js"></script>
<script src="/atm/scripts/CTE_BOT.js"></script>

<script>
    window.onload = async function() {
        /*alert('此工具已不堪使用，返回主頁');
        window.location = '/';*/
        for (var i = 1 ; i <= 13 ; i++)
        {
            $('#E1_' + i ).prop('checked' ,true);
        }
        $('#E5_14').prop('checked' , true);
        $('#loginAlert').hide();
        const urlParams = new URLSearchParams(window.location.search);
        const myParam = urlParams.get('error');
        if(myParam == "Password_Error") 
        {
            alert('帳號或密碼錯誤');
        }
        else if (myParam == "System_Error")
        {
            alert('系統錯誤，請聯繫作者');
            
        }
        else if (myParam == "Success")
        {
            alert('填寫完成');
        }
    };
    
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZMFWZCWXXN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZMFWZCWXXN');
</script>