<!DOCTYPE html>
<html ng-app="HSApp">

<head>
    <title>歷年成績</title>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="no-cache" http-equiv="cache-control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../externals/jqueryui/jquery-ui.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/atm/css/rwd-table.css">
    <link rel="stylesheet" href="../externals/jqueryui/jquery-ui.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+TC:300,500,600,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/atm/css/main.css">
    <script>

        
    </script>
</head>

<body ng-controller="HSCtrl">
    <a class="top-button"></a>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/Today_Schedule">今日課表</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/Course">個人修課明細</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Schedule">個人課表</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Scores">學期成績</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/History_Scores">歷年成績</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/CTE_BOT">教學評量機器人</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Course_Search">課程查詢</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <span><span style="font-size:25px">🌞 </span><input type="checkbox"  data-toggle="toggle" data-onstyle="info" data-offstyle="light" id="darkModeSwitch"><span style="font-size:25px"> 🌛</span></span>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/logout">登出</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="container" class="container" style="width:100%">
        <input type="search" class="form-control" ng-model="q" placeholder="請輸入課程名稱或代碼" />
        <div ng-repeat="item in Sems;" style="margin-bottom:20px;" ng-init="semIndex = $index">

            <button id={{item.Sem}} class="btn btn-primary btn-lg darkmode-ignore" style="width:100%;isolation: isolate;" onclick="Item_Visible_Control('HStable_' + this.id)">{{item.Sem}}學年度(點我開啟or隱藏))</button>
            <div id="HStable_{{item.Sem}}" class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input"  onchange="Item_Visible_Control('HStr_' +this.name)" id="custoncb_{{item.Sem}}" name="{{item.Sem}}">
                <label class="custom-control-label" for="custoncb_{{item.Sem}}">僅顯示平均成績</label>
            </div>
            <div dw-loading="DataList" dw-loading-options="{text: '載入清單...'}">
                <table id="HStable_{{item.Sem}}" class="table table-bordered table-striped table-rwd">
                    <thead class="thead-dark">
                        <tr >
                            <th rowspan="2" class="text-center">學年</th>
                            <th rowspan="2" class="text-center">課別</th>
                            <th rowspan="2" class="text-center">課程代碼與課程名稱</th>
                            <th colspan="2" class="text-center">上學期</th>
                            <th colspan="2" class="text-center">下學期</th>
                        </tr>
                        <tr>
                            <th class="text-center">學分</th>
                            <th class="text-center">成績</th>
                            <th class="text-center">學分</th>
                            <th class="text-center">成績</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr name="DataList" ng-repeat="hs in DataList |orderBy :'-Up_Score' | filter:q as results track by hs.Course " ng-if="hs.Sem ==item.Sem" id="HStr_{{item.Sem}}}}">
                            <td data-th="學年" id="{{hs.Sem}}" >{{hs.Sem}}{{item.$index}}</td>
                            <td data-th="課別" id="{{hs.Sem}}_content_type">{{hs.Type}}</td>
                            <td data-th="課程代碼與課程名稱" id="{{hs.Sem}}_content_course">{{hs.Course}}</td>
                            <td  data-th="上學期學分" id="{{hs.Sem}_content_empty_upCredit">{{hs.Up_Credit}}</td>
                            <td  data-th="上學期成績" id="{{hs.Sem}_content_empty">{{hs.Up_Score}}</td>
                            <td  data-th="下學期學分" id="{{hs.Sem}}_content_empty" >{{hs.Down_Credit}}</td>
                            <td  data-th="下學期成績" id="{{hs.Sem}}_content_empty">{{hs.Down_Score}}</td>
                        </tr>
                        <tr ng-repeat="Con_hs in Conlist" ng-if="$index == semIndex">
                            <th colspan="3" class="no-th">{{Con_hs.title}}</th>
                            <td data-th="上學期實得學分">{{Con_hs.Up_Credit}}</td>
                            <td data-th="上學期平均成績">{{Con_hs.Up_Score}}</td>
                            <td data-th="下學期實得學分">{{Con_hs.Down_Credit}}</td>
                            <td data-th="下學期平均成績">{{Con_hs.Down_Score}}</td>
                        </tr>
                    </tbody>
                </table>   
            </div>
        </div>
        <table class="table table-bordered table-striped table-rwd">
                <tr ng-repeat="Con_hs in Conlist" ng-if="$index >=Sems.length">
                    <th colspan="6" class="no-th">{{Con_hs.title}}</th>
                    <td data-th={{Con_hs.title}}>{{Con_hs.Up_Credit}}</td>
                </tr>
        </table>
    </div>
</body>

</html>
<script src="../externals/angularjs/angular.min.js"></script>
<script src="../externals/jquery/jquery-1.11.1.min.js"></script>
<script src="../externals/jqueryui/jquery-ui.min.js"></script>
<script src="/atm/scripts/History_Scores.js"></script>
<script src="/atm/scripts/rwd-td.js"></script>
<script src="/atm/scripts/Common.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.6/lib/darkmode-js.min.js"></script>
<script>
    $(window).scroll(function()
    {
        if ($(window).scrollTop() >100)
        {
            $('.top-button').addClass('show');
        }
        else
        {
            $('.top-button').removeClass('show');
        }
    });
    window.onload = async function() {
        commonFunc.darkModeInit();
        await sleep(500);
        angular.element(document.getElementById('container')).scope().Query();
        var width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
        await sleep(200);
        if (width <= 736)
        {
            HideTd('HStable');
            $("[id*=_content_empty]").each(function () {
                if (!$(this).text()) {
                    $(this).hide();
                }
            })
        }
    var btn = $('.top-button');
    btn.on('click', function(e) {
        e.preventDefault();
        $('html, body').animate({scrollTop:0}, '300');
    });
    };
    window.onresize = async function () {
        let width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
        if (width <= 736)
        {
            $("[id*='HStable_']").addClass("table-rwd");
            TdDisplay('content');
            $("[id*=_content_empty]").each(function () {
                if (!$(this).text()) {
                    $(this).hide();
                }
            })
        } 
        else 
        {
            $("[id*='HStable_']").removeClass("table-rwd");
            TdDisplayNoneRWD('content');
        }
    }
</script>