<!DOCTYPE html>
<html ng-app="learnMapApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NTUNHS 學習地圖</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../externals/Bootstrap/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="atm/css/main.css">
    <link rel="stylesheet" href="atm/css/dark.css">
</head>

<body ng-controller="learnMapCtrl">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/Today_Schedule">今日課表</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <nav-normal-item class="navbar-nav"></nav-normal-item>
            </ul>
            <ul class="navbar-nav ml-auto">
                <darkmode></darkmode>
                <div ng-include="'navRight.html'"></div>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="card mb-3">
            <div class="card-header text-center">
                畢業學分總表
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-center">總覽</li>
                <li class="list-group-item">
                    應修畢業學分：{{ creditObject.creditsRequirementForGraduation }}
                    <br />
                    已修畢業學分：{{ creditObject.tookCredits }}
                </li>

                <li class="list-group-item text-center">應修未修學分</li>
                <li class="list-group-item">
                    共同必修(未修)：{{ creditObject.missingCommonRequiredCredits }}
                    <br />
                    專業必修(未修)：{{ creditObject.missingProfessionalRequiredCredits }}
                    <br />
                    選修(未修)：{{ creditObject.missingElectiveCredits }}
                    <br />
                    應修未修學分總和：{{ creditObject.missingCreditsSummary }}
                </li>
            </ul>
        </div>
        <div class="card mb-3">
            <div class="card-header text-center">
                各學期應修及已修學分總覽表
            </div>
            <ul class="list-group list-group-flush" ng-repeat="creditHisObject in creditHisObjectList">
                <div class="accordion">
                    <li class="list-group-item text-center" type="button" data-toggle="collapse"
                        data-target="#collapse-list-item-{{creditHisObject.semNo}}" aria-expanded="false"
                        aria-controls="collapse-list-item-{{creditHisObject.semNo}}"
                        id="collapse-{{ creditHisObject.semNo }}">
                        {{creditHisObject.semNo}}學期
                        <span ng-if="!creditHisObject.opened">➕</span>
                        <span ng-if="creditHisObject.opened">➖</span>
                    </li>
                    <li class="list-group-item collapse" id="collapse-list-item-{{creditHisObject.semNo}}">
                        <span>共同必修(通識):</span>
                        <br />
                        <span class="pl-5">應修：{{ creditHisObject.commonRequiredShouldTake }}</span>
                        <br />
                        <span class="pl-5">已修：{{ creditHisObject.commonRequiredTook }}</span>
                        <hr class="border-bottom">
                        <span>專業必修(系所):</span>
                        <br />
                        <span class="pl-5">應修：{{ creditHisObject.professionalRequiredShouldTake }}</span>
                        <br />
                        <span class="pl-5">已修：{{ creditHisObject.professionalRequiredTook }}</span>
                        <hr class="border-bottom">
                        <span>選修課程(一般、專業):</span>
                        <br />
                        <span class="pl-5">應修：{{ creditHisObject.electiveShouldTake }}</span>
                        <br />
                        <span class="pl-5">已修：{{ creditHisObject.electiveTook }}</span>
                        <hr class="border-bottom">
                        <span>學期:</span>
                        <br />
                        <span class="pl-5">應修：{{ creditHisObject.totalCreditsShouldTake }}</span>
                        <br />
                        <span class="pl-5">已修：{{ creditHisObject.totalCreditsTook }}</span>
                        <hr class="border-bottom">
                    </li>
                </div>
            </ul>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-center">各學期總和</li>
                <li class="list-group-item">
                    <span>共同必修(通識):</span>
                    <br />
                    <span class="pl-5">應修：{{ creditHisSummaryObject.commonRequiredShouldTake }}</span>
                    <br />
                    <span class="pl-5">已修：{{ creditHisSummaryObject.commonRequiredTook }}</span>
                    <hr class="border-bottom">
                    <span>專業必修(系所):</span>
                    <br />
                    <span class="pl-5">應修：{{ creditHisSummaryObject.professionalRequiredShouldTake }}</span>
                    <br />
                    <span class="pl-5">已修：{{ creditHisSummaryObject.professionalRequiredTook }}</span>
                    <hr class="border-bottom">
                    <span>選修課程(一般、專業):</span>
                    <br />
                    <span class="pl-5">應修：{{ creditHisSummaryObject.electiveShouldTake }}</span>
                    <br />
                    <span class="pl-5">已修：{{ creditHisSummaryObject.electiveTook }}</span>
                    <hr class="border-bottom">
                    <span>學期:</span>
                    <br />
                    <span class="pl-5">應修：{{ creditHisSummaryObject.totalCreditsShouldTake }}</span>
                    <br />
                    <span class="pl-5">已修：{{ creditHisSummaryObject.totalCreditsTook }}</span>
                    <hr class="border-bottom">
                </li>
            </ul>
        </div>

        <div ng-repeat="item in userProgram">
            <h2>{{item.key}} : {{item.credit}}</h2>
            <ul class="list-group" ng-repeat="course in item.course">
                <li class="list-group-item text-center">name : {{course.name}}</li>
                <li class="list-group-item text-center">credit : {{course.credit}}</li>
            </ul>
        </div>
    </div>
    <ng-include src="'footer.html'"></ng-include>
</body>

</html>
<script src="./externals/jquery/jquery-1.11.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
<script src="../externals/Bootstrap/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
<script src="./externals/angularjs/angular.min.js"></script>
<script src="./atm/scripts/Common.js"></script>
<script src="./atm/scripts/ngCommon.js"></script>
<script src="./atm/scripts/learnMap.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZMFWZCWXXN"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-ZMFWZCWXXN');
</script>