<!DOCTYPE html>
<html ng-app="ScheduleApp">

<head>
    <title>我的課表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="no-cache" http-equiv="cache-control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta name="viewport" content="width=device-width, initial-scale=1 ,maximum-scale=1,user-scalable=no" />
    
    <link rel="stylesheet" href="../externals/jqueryui/jquery-ui.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
        rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+TC:300,500,600,700,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" crossorigin="anonymous">

    <link rel="stylesheet" href="/atm/css/rwd-table.css">
    <link rel="stylesheet" href="/atm/css/main.css">
    <link rel="stylesheet" href="/atm/css/dark.css">
    <style>
        fieldset {
            border-radius: 8px;
            border: 1px solid;
            box-shadow: 3px 3px 10px #666;
            margin-bottom: 10px;
        }

        legend {
            border-radius: 3px;
            padding: 5px 10px;
            background-color: #393e43;
            color: #FFF;
            box-shadow: 2px 2px 4px #666;
        }

        .modal-backdrop {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1040;
            width: 100%;
            height: 100%;
            background-color: #000;
        }
    </style>
</head>

<body ng-controller="ScheduleCtrl">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/Today_Schedule">今日課表</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <nav-normal-item class="navbar-nav"></nav-normal-item>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <span><span style="font-size:25px">🌞 </span><input type="checkbox" data-toggle="toggle"
                            data-onstyle="info" data-offstyle="light" id="darkModeSwitch"><span style="font-size:25px">
                            🌛</span></span>
                </li>
                <div ng-include="'navRight.html'"></div>
            </ul>
        </div>
    </nav>
    <div class="container-overview" id="table-lg">
        <div dw-loading="LogList" dw-loading-options="{text: '載入清單...'}">
            <table id="setting" class="table table-bordered table-striped table-hover table-lg table-rwd" width="100%"
                cellspacing="0">
                <thead class="thead-dark">
                    <tr>
                        <th width="1%">節次</th>
                        <th width="5%">時間</th>
                        <th width="13%">星期一</th>
                        <th width="13%">星期二</th>
                        <th width="13%">星期三</th>
                        <th width="13%">星期四</th>
                        <th width="13%">星期五</th>
                        <th width="13%">星期六</th>
                        <th width="16%">星期日</th>
                    </tr>
                </thead>
                <tbody style="font-size: 20px;">
                    <tr name="LogList" ng-repeat="LogItem in LogList">
                        <td class="align-middle" data-th="節次">{{LogItem.Period}}</td>
                        <td class="align-middle" data-th="時間">{{LogItem.Time}}</td>
                        <td class="align-middle justify-content-center align-items-center" data-th="星期一" id="Schedule_content"><button class="td-btn-center"
                                ng-click="onClickSchedule(LogItem.detail);">{{LogItem.Mon}}</button></td>
                        <td class="align-middle" data-th="星期二" id="Schedule_content"><button  class="td-btn-center"
                                ng-click="onClickSchedule(LogItem.detail);">{{LogItem.Tue}}</button></td>
                        <td class="align-middle" data-th="星期三" id="Schedule_content"><button  class="td-btn-center"
                                ng-click="onClickSchedule(LogItem.detail);">{{LogItem.Wed}}</button></td>
                        <td class="align-middle" data-th="星期四" id="Schedule_content"><button  class="td-btn-center"
                                ng-click="onClickSchedule(LogItem.detail);">{{LogItem.Thu}}</button></td>
                        <td class="align-middle" data-th="星期五" id="Schedule_content"><button  class="td-btn-center"
                                ng-click="onClickSchedule(LogItem.detail);">{{LogItem.Fri}}</button></td>
                        <td class="align-middle" data-th="星期六" id="Schedule_content"><button  class="td-btn-center"
                                ng-click="onClickSchedule(LogItem.detail);">{{LogItem.Sat}}</button></td>
                        <td class="align-middle" data-th="星期日" id="Schedule_content"><button  class="td-btn-center"
                                ng-click="onClickSchedule(LogItem.detail);">{{LogItem.Sun}}</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container" id="table-mobile">
        <div class="row" ng-repeat="(key , item) in ['星期一'  ,'星期二' , '星期三', '星期四', '星期五', '星期六', '星期日']"
            id="fieldSet{{key+1}}">
            <div class="col-md-12 col-12">
                <fieldset class="p-2">
                    <legend class="w-auto">{{item}}</legend>
                    <div class="row h-100 justify-content-center align-items-center">
                        <div class="col-sm-6 col-12 " ng-repeat="(scheduleKey , scheduleItem) in scheduleList"
                            ng-if="scheduleItem.Day == key+1">
                            <div class="card mb-3 mx-auto" style="max-width: 18rem;cursor: pointer;">
                                <div class="card-body text-center" data-toggle="modal"
                                    data-target="#modal{{scheduleItem.Code}}">
                                    <p class="card-title">{{scheduleItem.Time}}</p>
                                    <p class="card-title">{{scheduleItem.Place}}</p>
                                    <h5 class="card-text">{{scheduleItem.Name}}</h5>
                                </div>
                            </div>
                            <div class="modal fade" id="modal{{scheduleItem.Code}}" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalCenterTitle">Other</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>教室：{{scheduleItem.Place}}</p>
                                            <p>節次：{{scheduleItem.Period}}</p>
                                            <p>學分：{{scheduleItem.Credit}}</p>
                                            <p>課程性質：{{scheduleItem.Type}}</p>
                                            <p>授課老師：{{scheduleItem.Teacher}}</p>
                                            <p>代碼：{{scheduleItem.Code}}</p>
                                            <p>備註：{{scheduleItem.Other}}</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalScheduleDetail" tabindex="-1" role="dialog"
        aria-labelledby="modalScheduleDetailCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalScheduleDetailCenterTitle">Other</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>教室：{{openScheduleDetail.Place}}</p>
                    <p>節次：{{openScheduleDetail.Period}}</p>
                    <p>學分：{{openScheduleDetail.Credit}}</p>
                    <p>課程性質：{{openScheduleDetail.Type}}</p>
                    <p>授課老師：{{openScheduleDetail.Teacher}}</p>
                    <p>代碼：{{openScheduleDetail.Code}}</p>
                    <p>備註：{{openScheduleDetail.Other}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script src="../externals/angularjs/angular.min.js"></script>
<script src="../externals/jquery/jquery-1.11.1.min.js"></script>
<script src="../externals/jqueryui/jquery-ui.min.js"></script>
<script src="/atm/scripts/rwd-td.js"></script>
<script src="/atm/scripts/Common.js"></script>
<script src="/atm/scripts/ngCommon.js"></script>
<script src="/atm/scripts/Schedule.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.6/lib/darkmode-js.min.js"></script>
<script>
    window.onload = async function () {
        commonFunc.myDarkModeInit();
        let darkMode = localStorage.getItem("darkMode");
        await sleep(200);
        angular.element(document.getElementById('setting')).scope().Query();
        await sleep(300);
        var width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
        if (width <= 736) {
            $("#table-lg").hide();
        } else {
            $("#table-mobile").hide();
        }
        let scheduleContentLoaded = setInterval(function () {
            if ($('[id*="Schedule_content"]').length) {
                $('[id*="Schedule_content"]').each(function () {
                    if ($(this).children().text().trim() !== "") {
                        $(this).children().addClass("label border labelBg-dark text-center my-0");
                    } else {
                        $(this).children().remove();
                    }
                });
                clearTimeout(scheduleContentLoaded);
            }
        } , 100);
        
    };
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZMFWZCWXXN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZMFWZCWXXN');
</script>