<!DOCTYPE html>
<html ng-app="ScoresApp">

<head>
    <title>學期成績</title>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="no-cache" http-equiv="cache-control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../externals/jqueryui/jquery-ui.min.css">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/atm/css/rwd-table.css">
    <link rel="stylesheet" href="../externals/jqueryui/jquery-ui.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+TC:300,500,600,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/atm/css/main.css">

</head>

<body ng-controller="ScoresCtrl">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/Today_Schedule">今日課表</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/Course">個人修課明細</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Schedule">個人課表</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Scores">學期成績</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/History_Scores">歷年成績</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/CTE_BOT">教學評量機器人</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Course_Search">課程查詢</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <span><span style="font-size:25px">🌞 </span><input type="checkbox"  data-toggle="toggle" data-onstyle="info" data-offstyle="light" id="darkModeSwitch"><span style="font-size:25px"> 🌛</span></span>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/logout">登出</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container" style="width:100%">
        <div dw-loading="DataList" dw-loading-options="{text: '載入清單...'}">
            <table id="setting" class="table table-bordered table-striped table-rwd">
                <thead class="thead-dark">
                    <tr >
                        <th>課程名稱</th>
                        <th>上課班級</th>
                        <th>任課教師</th>
                        <th>課別</th>
                        <th>學分</th>
                        <th>成績</th>
                    </tr>
                </thead>
                <tbody>
                    <tr name="DataList" ng-repeat="Item in DataList">
                        <td data-th="課程名稱" id="{{Item.Name}}" >{{Item.Name}}</td>
                        <td data-th="上課班級" id="{{Item.Name}}_content">{{Item.Class}}</td>
                        <td data-th="任課教師" id="{{Item.Name}}_content">{{Item.Teacher}}</td>
                        <td data-th="課別" id="{{Item.Name}}_content">{{Item.Type}}</td>
                        <td data-th="學分" id="{{Item.Name}}_content">{{Item.Credit}}</td>
                        <td data-th="成績" id="{{Item.Name}}_content">{{Item.Score}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div dw-loading="Conlist" dw-loading-options="{text: '載入清單...'}">
            <table id="setting_2" class="table table-bordered table-striped table-rwd">
                <tbody>
                    <tr name="Conlist" ng-repeat="Item2 in Conlist">
                        <td class="no-th">{{Item2.id}}</td>
                        <td data-th={{Item2.id}}>{{Item2.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div dw-loading="PreRank" dw-loading-options="{text: '載入清單...'}">
            <table id="setting_2" class="table table-bordered table-striped table-rwd">
                <tbody>
                    <tr name="Conlist" ng-repeat="Item in PreRank">
                        <td class="no-th">{{Item.name}}</td>
                        <td data-th={{Item.id}}>{{Item.value}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>
<script src="../externals/angularjs/angular.min.js"></script>
<script src="../externals/jquery/jquery-1.11.1.min.js"></script>
<script src="../externals/jqueryui/jquery-ui.min.js"></script>
<script src="..//externals/jqueryui/datepicker-zh-TW.js"></script>
<script src="/atm/scripts/Scores.js"></script>
<script src="/atm/scripts/rwd-td.js"></script>
<script src="/atm/scripts/Common.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.6/lib/darkmode-js.min.js"></script>
<script>
    window.onload = async function() {
        commonFunc.darkModeInit();
        await sleep(100);
        angular.element(document.getElementById('setting')).scope().Query();
    };
</script>