<!DOCTYPE html>
<html ng-app="TSApp">

<head>
    <title>今日課表</title>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="no-cache" http-equiv="cache-control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../externals/jqueryui/jquery-ui.min.css">
    <link rel="stylesheet" href="../externals/Bootstrap/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/atm/css/rwd-table.css">
    <link rel="stylesheet" href="../externals/jqueryui/jquery-ui.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+TC:300,500,600,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/atm/css/main.css">
    <link rel="stylesheet" href="/atm/css/dark.css">
</head>

<body ng-controller="TSCtrl" class="myBody">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" id="mynav">
        <a class="navbar-brand" href="/Today_Schedule">今日課表</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id="navbutton">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <nav-normal-item class="navbar-nav"></nav-normal-item>
            </ul>
            <ul class="navbar-nav ml-auto">
                <darkmode></darkmode>
                <div ng-include="'navRight.html'"></div>
            </ul>
        </div>
    </nav>
    <div class="container" style="width:100%; padding-top:32px;" >
        <div class="col-lg-12 col-md-12 col-12">
            <select class="custom-select" id="day_select">
                <option value="1">星期一</option>
                <option value="2">星期二</option>
                <option value="3">星期三</option>
                <option value="4">星期四</option>
                <option value="5">星期五</option>
                <option value="6">星期六</option>
                <option value="7">星期日</option>
            </select>
        </div>
        <br />
        <br />
        <span class="mx-auto d-flex justify-content-center" ng-show="DataList.length <= 0">今天沒課唷</span>
        <div dw-loading="DataList" dw-loading-options="{text: '載入清單...'}" ng-show="DataList.length">
            <table id="setting" class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr >
                        <th>課程名稱</th>
                        <th>教室</th>
                        <th>時間</th>
                        <th>節次</th>
                        <th>任課教師</th>
                    </tr>
                </thead>
                <tbody>
                    <tr name="DataList" ng-repeat="Item in DataList">
                        <td class="table-th" data-th="課程名稱" id="{{Item.Name}}" onclick='Item_Visible_Control(this.id+"_content" , this.id , true)' >{{Item.Name}}</td>
                        <td data-th="教室" id="{{Item.Name}}_content">{{Item.Place}}</td>
                        <td data-th="時間" id="{{Item.Name}}_content">{{Item.Time}}</td>
                        <td data-th="節次" id="{{Item.Name}}_content">{{Item.Period}}</td>
                        <td data-th="任課教師" id="{{Item.Name}}_content">{{Item.Teacher}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>
<script src="../externals/angularjs/angular.min.js"></script>
<script src="../externals/jquery/jquery-1.11.1.min.js"></script>
<script src="../externals/jqueryui/jquery-ui.min.js"></script>
<script src="..//externals/jqueryui/datepicker-zh-TW.js"></script>
<script src="/atm/scripts/rwd-td.js"></script>
<script src="/atm/scripts/Common.js"></script>
<script src="/atm/scripts/ngCommon.js"></script>
<script src="/atm/scripts/Today_Schedule.js"></script>

<script src="../externals/Bootstrap/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.6/lib/darkmode-js.min.js"></script>

<script>
    window.onload = async function() {
        window.originH = $(window).height();
        window.originW = $(window).width();
        window.isMobileOrigin = false;
        
        //window.onresize();
        let date = new Date();
        let weekday = date.getDay();
        let week = new Array(7,1,2,3,4,5,6);
        $('#day_select option[value=' + week[weekday] +']').attr('selected','selected');
        await sleep(100);
        angular.element(document.getElementById('setting')).scope().Query(week[weekday]);
        let width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
        await sleep(100);
        
    };

    $( "#day_select" ).change(async function() 
    {
        let selectday = $('#day_select :selected').val();
        angular.element(document.getElementById('setting')).scope().Query(selectday);
        let width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
        await sleep(400);
        if (width <= 736)
        {
            HideTd('content');
            $(`.table-th`).addClass("table-th-show");
        }
    });
    window.onresize = async function () {
        let width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
        let height = $(window).height();
        if (width == window.originW && height ==window.originH) {
            return;
        }
        if (width <= 736)
        {
            $("#setting").addClass("table-rwd");
            TdDisplay('content');
            $(".table-th").each(function() {
                let id = $(this).attr('id');
                Item_Visible_Control(id+"_content" , id , true);
            });
        } 
        else 
        {
            $("#setting").removeClass("table-rwd");
            TdDisplayNoneRWD('content');
        }
    }
</script>