html {
    position: relative;
}

body
{
    font-family:'Noto Serif TC';  /* Microsoft JhengHei ,Noto Serif TC , DFKai-sb*/
    font-style: normal;
    font-weight: 400;
    padding-top: 4.5rem;
    padding-bottom: 100px;
}

.myBg-dark {
    background-color: #343a40;
    color : #fff;
    border-radius: 10px;
    padding : 5px 10px 5px 10px;
}

a.dropdown-item {
    display: block;
    text-decoration: none;
    color: black;
    padding: 12px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease
}

a.dropdown-item:hover {
    background: #b63b4d;
    color: #FFF
}

.downloading-button
{
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    position: fixed!important;
    bottom: 30px;
    left: 0.75em;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    z-index: 1000;
}

.top-button 
{
    display: inline-block;
    background-color: #FF9800;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 0px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
.top-button::after 
{
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 30px;
    color: #fff;
}

.show 
{
    opacity: 1;
    visibility: visible;
}
.bg-school-green
{
    background-color : rgba(0, 144, 68, 0.3)
}
div.modal-content
{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.td-item-fill {
    padding: 0!important;
}


.td-btn-center {
    display: block;
    margin: auto;
}


/*.modal-backdrop {  關閉底色*/
    /* bug fix - no overlay */    
    /*display: none;    */
/*}*/


